<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Major Achievements</h2>
        <p>1. <b>Outstanding winners of The Interdisciplinary Contest in Modeling 2015</b> <a href="/assets/pdf/ICM outstanding.pdf" target="_blank">[via] </a><a href="http://www.comap.com/undergraduate/contests/mcm/contests/2015/results/2015-ICM_Problem-C-Results.pdf" target="_blank">[Team]</a></p>

        <p>2. <b>CCF(China Computer Federation) outstanding student </b><a href="/assets/pdf/ccf outstanding student.pdf" target="_blank">[via]</a></p>
        
        <p>3. The star of graduates in Xidian University <a href="/assets/pdf/the star of graduates.pdf" target="_blank">[via]</a></p>
        
        <p>4. ACM/ICPC Shanxi province silver medal <a href="/assets/pdf/ACM silver.pdf" target="_blank">[via]</a></p>

        <p>5. <b>National scholarship</b> (three times): 2015, 2016, 2017</p>

        <p>6. National Lizhi scholarship: 2014</p>
    
        <p>7. ACM SIGSPATIAL 2017 Travel Grants</p>
</section>