<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p><b>Yuxuan Liang</b> is now in a joint Msc program between Xidian University (XDU) and Microsoft Research Asia (MSRA). Currently, he is a research intern on urban computing at <a href="https://www.microsoft.com/en-us/research/" target="_blank">Microsoft Research Asia</a>, supervised by senior research manager <a href="http://urban-computing.com/yuzheng" target="_blank">Yu Zheng</a>. My research interests include big data analytics, spatio-temporal data mining and ubiquitous computing. In Urban Computing Group, we are passionate about using big data to tackle urban challenges. </p>
</div><!--//summary-->
</section><!--//section-->