<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p align="justify"><b>Yuxuan Liang</b> (English: Yoshall Leung) is now in a joint Msc program between <b><a href="http://www.xidian.edu.cn/" target="_blank">Xidian University</a></b> and <b><a href="https://www.microsoft.com/en-us/research/" target="_blank">Microsoft Research Asia </a></b> (MSRA). Currently, he is a research intern at Urban Computing Lab, <b>JD Group</b>, supervised by the Chief Data Scientist <b><a href="http://urban-computing.com/yuzheng" target="_blank">Yu Zheng</a></b>. His research interests include spatio-temporal data mining, deep learning and ubiquitous computing. <a href="/assets/pdf/yuxuanliang-resume.pdf">[Resume here]</a></p>
</div><!--//summary-->
</section><!--//section-->