<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Algorithm Engineer Intern</h3>
                            <div class="time">Jan 2018 - Sep 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>JD Group</b>, Urban Computing Lab</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p> In Urban Computing Business Unit, we are passionate with data mining in big data from urban area. </p>  
                    </div>//details -->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Jan 2017 - Jan 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Microsoft Research Asia</b>, Urban Computing Group</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>In Urban Computing Group, I am passionate about spatio-temporal data mining.</p>  
                        
                    </div>//details -->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assitant</h3>
                            <div class="time">Sep 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Xidian University</b>, School of Computer Science and Technology</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>I worked as a teaching assistant in the urban computing course, helping Professor Yu Zheng complete the courses.</p>  
                    </div>//details -->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Dec 2015 - Sep 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Microsoft Research Asia</b>, Urban Computing Group</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>In Urban Computing Group, I am passionate about spatio-temporal data mining.</p>  
                    </div>//details -->
                </div><!--//item-->
                
                
            </section><!--//section-->