<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Programming Skills</h2>
        <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">MATLAB</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div>                               
                    </div>

                    <div class="item">
                        <h3 class="level-title">PYTHON</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>                                      
                        </div>                               
                    </div>

                    <div class="item">
                        <h3 class="level-title">LATEX</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>                                      
                        </div>                               
                    </div>
                    <div class="item">
                        <h3 class="level-title">TensorFlow & Keras</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>                                      
                        </div>                            
                    </div>
                    <div class="item">
                            <h3 class="level-title">C#</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="55%">
                                </div>                                      
                            </div>                          
                        </div>
                    <div class="item">
                        <h3 class="level-title">C/C++</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div>                          
                    </div>
                    <div class="item">
                        <h3 class="level-title">HTML/CSS/JavaScript</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div>                               
                    </div>
                    
                    <div class="item">
                        <h3 class="level-title">Photoshop</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div>                               
                    </div>
                </div> 
</section>
