<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Achievements</h2>
    <b>Major Achievements:</b>
        <ul>
        <li>Outstanding winners of the ICM (The Interdisciplinary Contest in Modeling) <a href="http://www.comap.com/undergraduate/contests/mcm/contests/2015/results/2015-ICM_Problem-C-Results.pdf" target="_blank">[via]</a></li>
        <li>CCF(China Computer Federation) outstanding student  <a href="http://www.ccf.org.cn/sites/ccf/xhdtnry.jsp?contentId=2890605139874" target="_blank">[via]</a><br/></li>
        <li>The star of graduates in Xidian University <a href="http://byj.xidian.edu.cn/article?article=473" target="_blank">[via]</a></li>
        <li>ACM/ICPC Shanxi province silver medal</li>
    </ul>

    <b>Scholarship:</b>
        <ul>
        <li>National scholarship (three times): 2015, 2016, 2017</li>
        <li>National Lizhi scholarship: 2014</li>
    </ul>

    <b>Grants:</b>
        <ul>
            <li>ACM SIGSPATIAL 2017 Travel Grants</li>
        </ul>
    
    <b>Community Service:</b>
    <ul>
        <li>Reviewer: 
            <ul>
                <li>Information Sciences (CCF Ranking B)</li>
                <li>Multimedia Tools and Applications (CCF Ranking C)</li>
            </ul>
        <li>External Reviewer: KDD 2018, SDM 2018, CCFAI 2017, CIKM 2017, KDD 2017, ICDM 2016, SIGSPATIAL 2016</li>
    </ul>
</section>

<!--//section-->


            <!-- <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div>                               
                    </div>
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div>                          
                    </div>
                    
                    <div class="item">
                        <h3 class="level-title">Angular</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div>                         
                    </div
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%">
                            </div>                                      
                        </div>                            
                    </div>
                    
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="85%">
                            </div>                                      
                        </div>                               
                    </div>
                    
                    <div class="item">
                        <h3 class="level-title">Sketch &amp; Photoshop</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div>                               
                    </div>
                </div> </section>  -->
<!--//skills-section-->